.grid-column{
    display: inline-block;
    width:30px;
    height: 30px;
    border:1px solid #000;
    padding: 10px;
    margin:1px;
}
.grid-row{
    margin:0px;
}
.current-grid{
    background-color: green;
}
.exploredNode{
    background-color: red;
}

.startNode{
    background-color: green;
}
.blockedNode{
    background-color: black;
}